:root {
    --primery-text-color: #212121;
    --primery-bg-color: #FFFFFF;
    --text-color: #757575;
    --accent: #2196F3;
    --hero-title-color: #FFFFFF;
    --footer-text-color: #FFFFFF;
    --footer-link-color: #FFFFFF99;
    --social-links-color: #FFFFFF;

}