 .footer {
     background-color: #2F303A;
     padding-top: 60px;
     padding-bottom: 60px;
 }

 /* logo footer */

 .logo-second {
     color: #FFFFFF;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .footer-logo {
     display: block;
     margin-bottom: 20px;
 }

 .logo-second:hover,
 .logo-second:focus {
     color: var(--accent, blue);
 }

 .footer-text {
     margin-bottom: 9px;
     color: var(--contacts-text-color, white);
     font-style: normal;
     font-size: 14px;
     line-height: 1.71;
     letter-spacing: 0.03em;
 }

 .footer-contacts {
     display: flex;
     flex-direction: column;
     gap: 9px;
 }

 .footer-contacts .link {
     color: var(--footer-link-color, white);
     font-style: normal;
     font-size: 14px;
     line-height: 1.71;
     letter-spacing: 0.03em;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .footer-contacts .link:hover,
 .footer-contacts .link:focus {
     color: var(--accent, blue);
 }

 .footer>.conteiner {
     display: flex;
     align-items: baseline;
 }


 .social-links {
     display: flex;
     flex-direction: column;
     margin-left: 70px;

 }

 .links-title {
     margin-bottom: 20px;
     color: var(--footer-text-color);
     font-weight: 700;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.03em;
     text-transform: uppercase;
 }

 .social-links-list {
     display: flex;
     gap: 10px;
 }

 .social-links-link {
     display: inline-block;
     padding: 12px;
     border-radius: 50%;
     width: 44px;
     height: 44px;
     background-color: rgba(255, 255, 255, 0.1);
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .social-links-link:hover,
 .social-links-link:focus {
     background-color: var(--accent);
 }

 .icon-social-links {
     fill: var(--social-links-color);
 }