.specifics-list {
    display: flex;
    gap: 30px;
}

.specifics-list__items {
    width: 270px;
}

.features {
    height: 120px;
    border-radius: 4px;
    background-color: #F5F4FA;
    padding: 25px 100px;   
}
.features-specifics {
   margin-bottom: 30px;
}

.specifics-list__title {
    margin-bottom: 10px;
    color: var(--primery-text-color, black);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}
.specifics-list__text {
    color: var(--text-color, grey);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}